{{#> layouts_main}}
{{#*inline "content"}}
<div>
  <h1>Page Not Found</h1>
  <p>path to <span style="color: red; font-style: italic;">{{ path }}</span> not found</p>
</div>
{{/inline}}
{{/layouts_main}}