<div style="width: fit-content; margin: 0 auto;">
  <h1>Chat Room</h1>
  <h3>Welcome {{user}}, to the chat room.</h3>
  <form action="/room" method="post">
    <label for="name">Name:
      <input type="text" id="name" name="name">
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>