<div style="width: fit-content; margin: 0 auto;">
  <h1>Login Form</h1>
  <form action="/login" method="post">
    <label for="name">Name:
      <input type="text" id="name" name="name">
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>